---
---
<div class="container overflow-hidden">
    <div class="relative">
        <div class="container">
            <div class="max-w-2xl mx-auto text-center">
                <p
                    class="inline-block text-sm font-medium text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary/60">
                    Preline: A vision for 2023
                </p>
                <!-- Title -->
                <div class="max-w-2xl mt-5">
                    <h1 class="block font-semibold text-transparent text-shadow bg-clip-text bg-gradient-to-r from-primary via-secondary to-secondary/70">
                        The Intuitive Web Solutions
                    </h1>
                </div>
                <!-- End Title -->
                <div class="max-w-3xl mt-5">
                    <p class="text-lg text-gray-600">Preline UI is an open-source set of prebuilt UI components,
                        ready-to-use examples and Figma design system based on the utility-first Tailwind CSS
                        framework.</p>
                </div>
                <!-- Buttons -->
                <div class="grid w-full gap-3 mt-8 sm:inline-flex sm:justify-center">
                    <a class="inline-flex items-center justify-center shadow-md hover:shadow-2xl px-4 py-3 text-base font-semibold text-center transition ease-in-out rounded-md gap-x-3 text-primary bg-prim-accent-dark border-primary/50 hover:text-prim-accent-dark hover:bg-primary duration-300 focus:ring-1 focus:ring-primary focus:ring-offset-2"
                        href="javascript:;">
                        Get started
                        <svg class="w-3 h-3" fill="none" height="16" viewbox="0 0 16 16" width="16">
                            <path
                                d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                                stroke="currentColor" stroke-linecap="round" stroke-width="2"></path>
                        </svg>
                    </a>
                    <a class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold bg-gray-200 text-gray-800 transition-all border border-transparent rounded-md hover:border-primary hover:text-primary shadow-md hover:shadow-lg hover:bg-white focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2"
                        href="#">
                        <img src="/logo-amazon-dark.svg" class=""></img>
                        Listed on Amazon.com
                    </a>
                </div>
                <!-- End Buttons -->
            </div>
        </div>
    </div>
</div>