<!-- Icon Blocks -->

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-12">
    <!-- Icon Block -->
    <div>
      <div class="relative flex justify-center items-center w-12 h-12 bg-gradient-to-br from-prim-accent-dark via-prim-accent-dark/50 to-prim-accent-light rounded-xl before:absolute before:-inset-px before:-z-[1] before:bg-gradient-to-br before:from-primary/50 before:via-transparent before:to-secondary/50 before:rounded-xl">
      <svg
        class="w-9 h-9 text-primary"
        fill="currentColor"
        height="16"
        viewbox="0 0 16 16"
        width="16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
        ></path>
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
      </svg>
    </div>
      <div class="bg-gradient-to-r from-secondary/80 via-prim-accent-dark to-prim-accent-dark/30 h-0.5 mt-6">
      </div>
      <div class="mt-5">
        <h5 class="font-semibold text-primary">Responsive</h5>
        <p class="mt-1 text-base text-gray-600">
          <!-- Responsive, and mobile-first project on the web -->
        </p>
      </div>
    </div>
    <!-- End Icon Block -->
    <!-- Icon Block -->
    <div>
      <div class="relative flex justify-center items-center w-12 h-12 bg-gradient-to-br from-prim-accent-dark via-prim-accent-dark/50 to-prim-accent-light rounded-xl before:absolute before:-inset-px before:-z-[1] before:bg-gradient-to-br before:from-primary/50 before:via-transparent before:to-secondary/50 before:rounded-xl">
      <svg
        class="w-9 h-9 text-primary"
        fill="currentColor"
        height="16"
        viewbox="0 0 16 16"
        width="16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
        ></path>
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
      </svg>
    </div>
      <div class="bg-gradient-to-r from-secondary/80 via-prim-accent-dark to-prim-accent-dark/30 h-0.5 mt-6">
      </div>
      <div class="mt-5">
        <h5 class="font-semibold text-primary">Responsive</h5>
        <p class="mt-1 text-base text-gray-600">
          <!-- Responsive, and mobile-first project on the web -->
        </p>
      </div>
    </div>
    <!-- End Icon Block -->
    <!-- Icon Block -->
    <div>
      <div class="relative flex justify-center items-center w-12 h-12 bg-gradient-to-br from-prim-accent-dark via-prim-accent-dark/50 to-prim-accent-light rounded-xl before:absolute before:-inset-px before:-z-[1] before:bg-gradient-to-br before:from-primary/50 before:via-transparent before:to-secondary/50 before:rounded-xl">
      <svg
        class="w-9 h-9 text-primary"
        fill="currentColor"
        height="16"
        viewbox="0 0 16 16"
        width="16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
        ></path>
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
      </svg>
    </div>
      <div class="bg-gradient-to-r from-secondary/80 via-prim-accent-dark to-prim-accent-dark/30 h-0.5 mt-6">
      </div>
      <div class="mt-5">
        <h5 class="font-semibold text-primary">Responsive</h5>
        <p class="mt-1 text-base text-gray-600">
          <!-- Responsive, and mobile-first project on the web -->
        </p>
      </div>
    </div>
    <!-- End Icon Block -->
    <!-- Icon Block -->
    <div>
      <div class="relative flex justify-center items-center w-12 h-12 bg-gradient-to-br from-prim-accent-dark via-prim-accent-dark/50 to-prim-accent-light rounded-xl before:absolute before:-inset-px before:-z-[1] before:bg-gradient-to-br before:from-primary/50 before:via-transparent before:to-secondary/50 before:rounded-xl">
      <svg
        class="w-9 h-9 text-primary"
        fill="currentColor"
        height="16"
        viewbox="0 0 16 16"
        width="16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
        ></path>
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
      </svg>
    </div>
      <div class="bg-gradient-to-r from-secondary/80 via-prim-accent-dark to-prim-accent-dark/30 h-0.5 mt-6">
      </div>
      <div class="mt-5">
        <h5 class="font-semibold text-primary">Responsive</h5>
        <p class="mt-1 text-base text-gray-600">
          <!-- Responsive, and mobile-first project on the web -->
        </p>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
